.hp {

	/*--------------------------------------------------------------
	Ratings
	--------------------------------------------------------------*/
	&-rating {
		display: flex;
		align-items: center;

		&__details,
		&__stars {
			&:not(:last-child) {
				margin-right: 0.5rem;
			}
		}

		&__details {
			white-space: nowrap;
			color: inherit;
			text-decoration: none;
		}

		&__count {
			opacity: 0.75;
		}
	}

	&-rating-stars {
		display: flex;
		font-size: 0;

		i {
			font-size: 14px;
			line-height: 1;
			color: rgba(0, 0, 0, 0.15);

			&:not(:first-child) {
				margin-left: 2px;
			}

			&.active {
				color: #ffc107;
				position: relative;

				&.fa-star-half {
					&::before {
						position: relative;
						z-index: 1;
					}

					&::after {
						content: '\f005';
						color: rgba(0, 0, 0, 0.15);
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}
		}

		&--large i {
			font-size: 16px;

			&:not(:first-child) {
				margin-left: 3px;
			}
		}
	}

	/*--------------------------------------------------------------
	Reviews
	--------------------------------------------------------------*/
	&-review {
		&__reply {
			padding-left: 2rem;
			margin-top: 2rem;
		}

		&__content,
		&__header {
			&:not(:last-child) {
				margin-bottom: 1rem;
			}
		}

		&__header {
			display: flex;
			align-items: center;
		}

		&__image {
			flex: 0 0 4rem;
			margin-right: 1.5rem;

			img {
				display: block;
				width: 100%;
				height: auto;
				border-radius: 50%;
			}
		}

		&__summary {
			min-width: 0;
		}

		&__author,
		&__details {
			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}

		&__details {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		&__author {
			word-wrap: break-word;

			a {

				&,
				&:hover {
					color: inherit;
					text-decoration: none;
				}
			}
		}

		&__status-badge {
			display: inline-block;
			vertical-align: middle;

			&--pending::before {
				content: "\f017";
				color: #ffcb00;
			}

			&--vendor::before {
				content: "\f058";
				color: #15cd72;
			}
		}

		&__created-date,
		&__rating {
			margin-bottom: 0.5rem;

			&:not(:last-child) {
				margin-right: 0.5rem;
			}
		}

		&__created-date {
			font-size: 80%;
		}

		&__reply &__rating {
			display: none;
		}

		&__listing,
		&__text {
			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}

		&__text {
			p {
				margin-bottom: 0.5rem;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}